# Copyright 2021 Siemens AG
# SPDX-License-Identifier: MIT

tensorflow==1.15.2
tensorflow-hub==0.8.0
h5py==2.*
matplotlib==3.0.3
pillow==8.2.0  
scipy==1.4.1
urllib3==1.26.4
jsonschema==3.2
nbformat==5.0.7
ipython-genutils==0.2.0